{
  "openapi": "3.1.0",
  "info": {
    "title": "iSend Email API",
    "version": "1.0.0",
    "description": "API for sending templated emails through iSend"
  },
  "servers": [
    {
      "url": "http://www.isend.ai"
    }
  ],
  "paths": {
    "/api/send-email": {
      "post": {
        "summary": "Send an email",
        "description": "Sends a templated email to a recipient using dynamic data.",
        "x-codeSamples": [
          {
            "lang": "PHP",
            "label": "PHP",
            "source": "<?php\n$client = new isend('YOUR_API_KEY');\n$client->emails->send([\n  'from' => 'your@email.com',\n  'to' => 'delivered@isend.dev',\n  'template' => 'welcome_emailer',\n  'data_mapping' => [\n    'name' => 'John Doe',\n    'email' => 'john@example.com'\n  ]\n]);"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "api_key",
                  "to",
                  "from",
                  "template",
                  "data_mapping"
                ],
                "properties": {
                  "api_key": {
                    "type": "string",
                    "description": "API key for authenticating the request"
                  },
                  "to": {
                    "type": "string",
                    "format": "email",
                    "description": "Recipient email address"
                  },
                  "from": {
                    "type": "string",
                    "format": "email",
                    "description": "Sender email address"
                  },
                  "template": {
                    "type": "string",
                    "description": "Template identifier to use for the email"
                  },
                  "data_mapping": {
                    "type": "object",
                    "description": "Key-value pairs to fill in the template placeholders",
                    "additionalProperties": {
                      "type": "string"
                    },
                    "example": {
                      "name": "John Doe",
                      "email": "john@example.com"
                    }
                  }
                }
              },
              "example": {
                "api_key": "is_b867c3390755d64915c563923484a6",
                "to": "delivered@isend.dev",
                "from": "your@email.com",
                "template": "welcome_emailer",
                "data_mapping": {
                  "name": "John Doe",
                  "email": "john@example.com"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "messageId": {
                      "type": "string",
                      "example": "abc123"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed"
          }
        }
      }
    }
  }
}